{{!-- Utilizado para o template handler --}}

<style>
  .message-content{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Olá {{ name }}!</p>
  <br/>
  <p>Recebemos uma solicitação de redefinição de senha para a sua conta de usuário.</p>
  <p>Confirme a sua solicitação clicando no link abaixo para alterar sua senha</p>

  <p><a href="{{link}}">Alterar senha</a></p>

  <p>Caso você não tenha realizado esta solicitação, por favor ignore este email.</p>

  <p>Obrigado</p>
  <p>Equipe Api</p>
</div>
